In [20]:
import pandas as pd
import numpy as np

In [21]:
data = pd.DataFrame()
data = pd.read_csv("D:/660710616/play_tennis/play_tennis.csv")

In [22]:
data

     outlook temperature humidity   windy play
0      sunny         hot     high    weak   no
1      sunny         hot     high  strong   no
2   overcast         hot     high    weak  yes
3      rainy        mild     high    weak  yes
4      rainy        cool   normal    weak  yes
5      rainy        cool   normal  strong   no
6   overcast        cool   normal  strong  yes
7      sunny        mild     high    weak   no
8      sunny        cool   normal    weak  yes
9      rainy        mild   normal    weak  yes
10     sunny        mild   normal  strong  yes
11  overcast        mild     high  strong  yes
12  overcast         hot   normal    weak  yes
13     rainy        mild     high  strong   no

In [23]:
new = pd.DataFrame()

# สร้างข้อมูลที่เป็น new data 
new['outlook'] = ['rainy']
new['temperature'] = ['cool']
new['windy'] = ['weak']

# View the data 
new

  outlook temperature windy
0   rainy        cool  weak

In [29]:
# นับจำนวน yes
n_yes = len(data[data['play'] == 'yes'])  #len(object) เป็น function ใช้นับจำนวน object

# นับจำนวน no
n_no = len(data[data['play'] == 'no']) 

# นับจำนวนที่เล่นทั้งหมด
total_play = len(data['play'])

print(n_yes,n_no,total_play)

9 5 14

In [25]:
n_rain_yes = len(data[(data['outlook'] == 'rainy') & (data['play'] == 'yes')])

n_cool_yes = len(data[(data['temperature'] == 'cool') & (data['play'] == 'yes')])

n_weak_yes = len(data[(data['windy'] == 'weak') & (data['play'] == 'yes')])

print(n_rain_yes,n_cool_yes,n_weak_yes)

3 3 6

In [26]:
n_rain_no = len(data[(data['outlook'] == 'rainy') & (data['play'] == 'no')])\

n_cool_no = len(data[(data['temperature'] == 'cool') & (data['play'] == 'no')])

n_weak_no = len(data[(data['windy'] == 'weak') & (data['play'] == 'no')])

print(n_rain_no,n_cool_no,n_weak_no)

2 1 2

In [34]:
p_yes = n_yes/total_play 
p_no = n_no/total_play 

p_rain_yes = n_rain_yes/n_yes

p_cool_yes = n_cool_yes/n_yes

p_weak_yes = n_weak_yes/n_yes

p_rain_no = n_rain_no/n_no
p_cool_no = n_cool_no/n_no
p_weak_no = n_weak_no/n_no

print(p_rain_yes,p_cool_yes,p_weak_yes)
print(p_rain_no,p_cool_no,p_weak_no)

0.3333333333333333 0.3333333333333333 0.6666666666666666
0.4 0.2 0.4

In [35]:
p_rain_cool_weak_yes = p_rain_yes * p_cool_yes * p_weak_yes * p_yes
p_rain_cool_weak_no = p_rain_no * p_cool_no * p_weak_no * p_no

In [36]:
print(p_rain_yes,p_cool_yes,p_weak_yes,p_yes)

0.3333333333333333 0.3333333333333333 0.6666666666666666 0.6428571428571429

In [37]:
print(p_rain_no,p_cool_no,p_weak_no,p_no)

0.4 0.2 0.4 0.35714285714285715

In [38]:
print('p_rain_cool_weak_yes = ', p_rain_cool_weak_yes)
print('p_rain_cool_weak_no = ', p_rain_cool_weak_no)

p_rain_cool_weak_yes =  0.04761904761904762
p_rain_cool_weak_no =  0.011428571428571432

In [ ]:
ค่า P(play = no|new) (=0.01714) มีค่ามากกว่า P(play = yes|new) (=0.03968) ดังนั้นโมเดลจึงทำนายว่าข้อมูลตัวอย่างนี้มีค่าคลาส play = yes เล่น tennis¶